div {
    margin-bottom: 10px;
    position: relative;
}

p {
    font-size: 80%;
    color: #999;
}

input + span {
    padding-right: 30px;
}
<<<<<<< HEAD

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
=======

input:invalid+span:after {
    position: absolute;
    content: '✖';
>>>>>>> 26d8b5f468fd98f386b686e9ab8dc2afd5b71f84
    padding-left: 5px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}